<div class="blogeditbody">
<div class="blogeachtitle">
<p1>業務連絡を編集画面</p1>
</div>
<br>
<br>
<button type="button" class="btn btn-success rounded-pill">
<%= link_to "業務連絡一覧へ戻る", blogs_path %></button>

<br>
<br>

<%= render 'form' %>

</div>
