<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <p><%= comment.content %></p>
      <button type="button" class="btn btn-primary"><%= comment.user.name %></button>
    <% end %>
    <% if current_user == nil %>
    <% elsif current_user.id == comment.user_id || current_user.admin %>



       <button type="button" class="btn btn-secondary rounded-pill">

       <%= link_to 'コメントを削除する', "/blogs/#{comment.blog_id}/comments/#{comment.id}", method: :delete, remote: true, data: {"turbolinks" => false}
 %></button>
    <% end %>
   <% end %>


</ul>
