<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <p><%= comment.content %></p>
      <p><%= comment.user.name %></p>
    <% end %>
    <% if current_user == nil %>
    <% elsif current_user.id == comment.user_id || current_user.admin %>

     <p><%= link_to 'コメントを削除する', "/blogs/#{comment.blog_id}/comments/#{comment.id}", method: :delete, remote: true %></p>
    <% end %>
   <% end %>


</ul>
