<div class="mapbody">
  <div class="container">
    <div class="mapcomment">
      <div class="col">
        <p1>ご来店お待ちしております。</p1><br>
        <p2>住所：〒132-0013 東京都江戸川区江戸川２丁目６−２</p2><br>
        <p2>TEL:03-5879-8522</p2>
      </div>

      <div class="col">
        <div class ="toriyuumap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12962.433961309765!2d139.902343!3d35.686641!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9269bc96e9082715!2z44CO6bOl5YuH44CP55Ge5rGf44Gu5pys5qC854Kt54Gr44Gu54S844GN6bOl5bqX!5e0!3m2!1sja!2sjp!4v1575525148324!5m2!1sja!2sjp" width="500" height="500" frameborder="10" style="border:10;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
