<div class ="main-container">
<h3>江戸川区瑞江の外れにひっそりと店を構える
炭火焼き鳥【鳥勇】</h3>

<br>





<h2>
当店で召し上がって頂きたいのは、40種類以上の希少部位の中から日替わりで提供する部位を
備長炭で丁寧に焼き上げた焼き鳥です。<br>
鳥を1からさばき、質の良い部位を鮮度の良い状態で丁寧に仕込み、提供しております。
極上の塩、秘伝のタレで是非お召し上がりください。
また、焼き鳥に合う店主が厳選した日本酒を多数取り揃えておりますので『焼き鳥×日本酒』を
ご堪能くださいませ。</h2>


</div>
