<div class="toppbody">
<div class="f-container">


<p1>
江戸川区瑞江の外れにひっそりと店を構える
炭火焼き鳥店</p1>
<br>
<p2>
当店で召し上がって頂きたいのは、<br>
40種類以上の希少部位の中から日替わりで提供する部位を備長炭で丁寧に焼き上げた焼き鳥です。<br>
鳥を1からさばき、質の良い部位を鮮度の良い状態で丁寧に仕込み、提供しております。<br>
極上の塩、秘伝のタレで是非お召し上がりください。<br>
また、焼き鳥に合う店主が厳選した日本酒を多数取り揃えておりますので『焼き鳥×日本酒』をご堪能くださいませ。</p2>
<br>
<br>
<p1>お店のインスタグラムはこちらから→</p1>
 <button type="button" class="btn btn-info rounded-pill">
  <%= link_to "Instagram", "https://www.instagram.com/toriyuu_yakitori", :target=>["_blank"] %></button>
<br>
<br>
<p1>当店では団体様用のお座敷席もご用意しております。→</p1>


<button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
  <p1>お座敷席</p1>
</button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <p5 class="modal-title" id="exampleModalCenterTitle">お座敷席</p5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <div class="modal-body">
        <div class="modalpicture">
          <p><%= image_tag "14372.jpg",:width => '100%', :height => '100%'  %></p>
        </div>
      </div>
    <!-- <div class="modal-footer">
    </div> -->
  </div>
</div>
</div>








</div>
</div>
