<div class="usersbody">
<h3>х╛УценхУбф╕Ашжз</h3>


<table  class="table table-hover">
  <tr>
    <th>х╛УценхУбхРН</th>
    <th>Email</th>
    <th>чобчРЖшАЕ</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><% if user.admin %>
          <%=  'ЁЯРУ' %>
        <% end %>
    </td>
  </tr>
<% end %>


</table>
<button type="button" class="btn btn-success rounded-pill">
<%= link_to "х╛УценхУбчобчРЖчФ╗щЭвуБ╕", blogs_path %></button>
</div>
