/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 // for Bootstrap4
@import "bootstrap";
 */
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
header{
  height: 80px;

}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
.toriyuu{
  // text-align: center;
  // padding-top: 20px;
  display: flex;
  justify-content: center; /* 子要素を中央揃え */
  position: relative;
  color: white;
  // text-align: left;
  text-decoration-style: solid;
  font-family: 'Ubuntu Mono', monospace;
}


.top-sub{
  // text-align: right;
  // padding-right: 10px;
  float: right;
  right: 0; /* 右寄せ */
  text-align: right;
  position: absolute;
}


a:link {
color:black;
text-decoration:none;
}

a:visited {
color:black;
text-decoration:none;
}

a:hover {
color:orange;
text-decoration:underline;
}

.sticky-top {

  background:
     repeating-radial-gradient(
       circle at -1000% 0%,
       rgba(116, 77, 48, 0.7),
       #573216 7.5%,
       rgba(116, 77, 48, 0.9) 10%
     ),
     repeating-radial-gradient(
       circle at -1000% 0%,
       #573216,
       #573216 0.1%,
       #744d30 0.4%,
       #744d30 0.5%
     );

  color: black;
   font-family: serif;
   // margin-top: auto;
   text-align: center;

   width: 100%;

 }

 .ordertype{
   text-align: left;
   padding-left: 30px;
   padding-top: 30px;
   font-size: 50px;
   font-family: inherit;

   // background:
   //      rgba(0, 0, 0, 0.6);

 }

 .order-title {
   text-align: left;
   // margin-left: 15px;
   padding-top: 10px;
   font-size: 20px;
   background:
        rgba(0, 0, 0, 0.6);
   // background:
   //   repeating-radial-gradient(
   //     circle at -1000% 0%,
   //     rgba(116, 77, 48, 0.7),
   //     #573216 7.5%,
   //     rgba(116, 77, 48, 0.9) 10%
   //   ),
   //   repeating-radial-gradient(
   //     circle at -1000% 0%,
   //     #573216,
   //     #573216 0.1%,
   //     #744d30 0.4%,
   //     #744d30 0.5%
   //   );
 }





 footer {

   background:
   linear-gradient(
     0deg,
     rgba(139, 126, 74, 0.8),
     rgba(168, 157, 95, 0.6) 10%,
     rgba(168, 157, 95, 0.2) 90%,
     rgba(139, 126, 74, 0.8)
   ),
   linear-gradient(
     90deg,
     #f9daa4,
     #f9daa4 25%,
     #cea660 25%,
     #cea660 50%,
     #ddba78 50%,
     #ddba78 75%,
     #c69f5a 75%,
     #c69f5a
   );



   color: black;
   font-family: serif;
   text-align: center;




 }

 body {
   background-color: white;
   color: white;
   font-family: serif;

   position:relative;
   width:100%;
   height:100%;
 }


.toppbody{
  background: url(./top-background.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  scroll-snap-type: y;
  height: 100vh;
  font-size: 20 px;
  font-weight: bold;

}

 .foodbody{
   background: url(./foodbackground2.jpg) no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   height:100%;
   scroll-snap-type: y;
   // height: 400vh;
 }

.side_menubody{
  background: url(./side_menu-background.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  scroll-snap-type: y;
  // min-height: 400vh;
}

.side_menukind0{
  margin-top: -40px;
  // margin-right: 100px;
}

.side_menukind1{
  margin-top: -40px;
  // margin-right: 100px;
}



.sakebody{
  background: url(./sake-background.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  scroll-snap-type: y;
  // height: 400vh;
}

.drinkbody{
  background: url(./drink-background.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  scroll-snap-type: y;
  // height: 400vh;
}







.mapbody{
  background: url(./map-background.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  scroll-snap-type: y;
  height: 200vh;
  color:black;
}

.toriyuumap{
  text-align: center;
  // padding-right: 50px;
  // padding-top: 20px;
  // display: inline-block;
}


.mapcomment{
  text-align: left;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 20px;
  color: black;

}


 .col{
     font-weight: bold;
     color: white;
     font-size: 25px;
     background:
          rgba(0, 0, 0, 0.6);
     margin: 10px;
     padding-bottom: 25px;
 }




.blog{
  color: black;
  background-color: white;
  min-height: 100vh;
}

.blogtitle{
  padding-top:10px;
  font-size: 30px;
}









 .container{
   text-align: center;
 }

 .main {
     width: 100%;

 }

 .main div   {
     width: 100%;
     margin: 0 auto;
 }


 .modal-title{
   color: black;
   font-size: 30px;
 }
 .modal-body {
            background: black;
        }
 .modal-footer{
   color:black;
   font-size: 50px;
 }

 .modalpicture{
   text-align: center;
 }

 ul{
  //  margin-bottom: 0;
  // text-align: right;
 }

.usersbody{
  color: black;
  height: auto;
  min-height: 100vh;
}

.signupbody{
  color: black;
  color: black;
  height:100vh;
}
.loginbody{
  color: black;
  height:100vh;
}

.blogeditbody{
  color: black;
  height:100%;
  height: auto;
  scroll-snap-type: y;
  // height: 300vh;
}

.blogshowbody{
  color: black;
  height:100%;
  scroll-snap-type: y;
  height: auto;
}

.blognewbody{
  color: black;
  scroll-snap-type: y;
  // height: 150vh;
}
.menuediter{
  color: black;
}

.blogeachtitle{
  font-size: 30px;
  padding-top: 20px;
}

.alert{
 color: black;
 font-size: 30px;
}

.passwordbody{
  color:black;
  color: black;
  height:100vh;
}


.jumbotron {
  text-align: center;
}

.comment_board{
  font-size: 30px;

}


iframe {
            max-width: 100% !important;
          }
