/* // thead, tbody {
//   display: block;
// }
// tbody {
//   overflow-x: hidden;
//   overflow-y: scroll;
//   height: 100px;
// }
//
//
// th, td {
//   width: 100px;
// } */

.main {
    width: 100%;
    border: 1px solid #000;
}
.main div   {
    width: 80%;
    border: 1px solid #FF0000;
    margin: 0 auto;
}
