.main-container{
  height:900px;
  width:100%;

  background-image:
   url("13744.jpg"),
   url("14373.jpg"),
   url("14375.jpg"),

  // background-image: url("14374.jpg");
  // background-position:contain;
  background-repeat:
  no-repeat,
  no-repeat,
  
  no-repeat;

  background-size:contain;
}
