<h1>一品料理詳細画面</h1>
<p>一品料理: <%= @side_menu.name %></p>
<p>
  <strong>写真: </strong>
  <%= image_tag @side_menu.picture.url %>
</p>
<p>値段: <%= @side_menu.price %></p>

<%= link_to "一品料理一覧画面に戻る",side_menus_path %>
